* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url(https://images.unsplash.com/photo-1511207538754-e8555f2bc187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80);
    font-size: 20px;
}

h1, form, .results-header, .site-description  {
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
}

h1 {
    font-size: 50px;
}

form {
    line-height: 1.5;
}

input {
    border-radius: 3px;
}

.search {
    height: 44px;
    width: 88px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

.search:hover {
    background-color: green;
}

.site-description {
    line-height: 1.5;
    font-size: 20px;
}

span {
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
}

img, iframe {
    width: 600px;
    height: 450px;
    border-radius: 30px;
}

img {
    padding-right: 15px;
}

iframe {
    padding-left: 15px;
}


.hidden {
    display: none;
}

li {
    border: 2px solid green;
    border-radius: 30px;
    margin-top: 30px;
    background-color: forestgreen;
}

.name {
    text-decoration: underline;
}

a {
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
}

a:hover {
    cursor: pointer;
}

@media screen and (min-width: 320px) {
     h1 {
        font-size: 40px;
    }

    .latLong {
        text-align: center;
    }

    p {
        text-align: left;
        line-height: 1.5;
    }
    
    img, iframe {
        padding-right: 0;
        padding-left: 0;
        width: 300px;
    }

}

@media screen and (min-width: 375px) {
    .latLong {
        text-align: center;
    }
    
    img, iframe {
        width: 355px;
    }

    .info {
        padding-left: 5px;
    }
}

@media screen and (min-width: 425px) {
    .site-description {
        text-align: center;
    }

    img, iframe {
        width: 405px;
    }

    .info {
        padding-left: 5px;
    }
}

@media screen and (min-width: 768px) {
    img, iframe {
        width: 600px;
        height: 450px;
    }    

    .info {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 1024px) {
    ul {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .info {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
}